<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Auth</title>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <style>
        </style>
</head>

<body class="col">
    <nav class="navbar navbar-expand-sm navbar-dark bg-primary">
        <a class="navbar-brand" href="/">UserAuth</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">
                        <%- username%><span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <form method="post" action="/logout" class="col">
                        <input type="submit" class="btn btn-sm btn-warning" value="Logout">
                    </form>
                </li>
            </ul>
        </div>
    </nav>
    <header>

    </header>
    <section class="">
        <div class=" p-2 col-8" id="user">
        <ul class="list-group">
            <li class="list-group-item active">Users</li>
            <% if(data[0].username==="no-data" ){ %>
                <p>No Data</p>
                <% } else { %>
                    <% for(var i=0; i < data.length; i++) { %>
                        <li class="list-group-item">
                            <h5>#<%- i+1 %>
                                    <%- data[i].username %>
                                        </h3>
                                        <p>
                                            <%- data[i].email %>
                                        </p>
                                        <p>
                                            <% if(!username===data[i].status){ %>
                                                <span class="text-danger"> De-Active</span>
                                                <%} else{ %>
                                                    <span class="text-success"> Active</span>
                                                    <% } %>
                                        </p>
                                        <% if(username===data[i].username){ %>
                                            <div class="row">
                                                <form class="col-2" method="" action="">
                                                    <input type="submit" class="btn btn-sm btn-secondary" value="Delete"
                                                        disabled>
                                                </form>
                                                <form method="get" action="/api/updateuser/<%- data[i]._id %>"
                                                    class="col-10">
                                                    <input type="submit" class="btn btn-sm btn-info" value="Update">
                                                </form>
                                            </div>
                                            <%} else{ %>
                                                <div class="row">
                                                    <form method="post" action="/api/deleteuser/<%- data[i]._id %>"
                                                        class="col-2">
                                                        <input type="submit" class="btn btn-sm btn-danger"
                                                            value="Delete">
                                                    </form>
                                                    <form method="get" action="/api/updateuser/<%- data[i]._id %>"
                                                        class="col-10">
                                                        <input type="submit" class="btn btn-sm btn-info" value="Update">
                                                    </form>
                                                </div>
                                                <% } %>
                        </li>
                        <% } }%>
        </ul>
        </div>
    </div>


    </section>
</body>

</html>