<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>User Auth</title>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
   <script>
       const getUsers = async () => {
            let user= '<li class="list-group-item active">Users</li>'
            let data = await axios.get(`${'<%- host %>'}/api/users`)
            data = data.data;
            for(let i=0; i < data.length ;i++){
                if(!data[i].status){
                    user += `
                        <li class="list-group-item">
                            <h3>${data[i].username}</h3>
                            <p>${data[i].email}</p>
                            <p>
                                <span class="text-danger"> De-Active</span>
                            </p>
                            <div class="row">
                                <button type="button" class="btn btn-sm btn-danger" onclick="deleteUser('${data[i]._id}')">Delete</button>
                                <a class="btn btn-sm btn-info ml-1" href="/updateuser/${data[i]._id}">Update</a>
                            </div>
                        </li>`
                }
                else{
                    user += `
                        <li class="list-group-item">
                            <h3>#${i+1} ${data[i].username}</h3>
                            <p>${data[i].email}</p>
                            <p>Resume <a href="/api/users/resume/${data[i].resume}">${data[i].resume}</a>
                            <p>
                                <span class="text-success"> Active</span>
                            </p>
                            <div>

                            </div>
                            <div class="row">
                                <button type="button" class="btn btn-sm btn-danger" onclick="deleteUser('${data[i]._id}')">Delete</button>
                                <a class="btn btn-sm btn-info ml-1" href="/updateuser/${data[i]._id}">Update</a>
                            </div>
                        </li>`
                }

            }
            document.getElementById('user').innerHTML = user
        }
       getUsers();
   </script>

</head>

<body>
    <nav class="navbar navbar-expand-sm navbar-dark bg-primary">
        <a class="navbar-brand" href="/">UserAuth</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">
                        <%- username%><span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <form method="post" action="/logout" class="col">
                        <input type="submit" class="btn btn-sm btn-warning" value="Logout">
                    </form>
                </li>
            </ul>
        </div>
    </nav>
    <header>

    </header>
    <section class="">
        <div class=" p-2 col-8" >
            <ul class="list-group" id="user" >
                

            </ul>
        </div>
        </div>
        
    </section>





    <script>
     const deleteUser = async(id)=>{
         if( window.confirm('Are you sure?')===false) return
         const res = await axios.delete(`${'<%- host %>'}/api/users/${id}`)
         if(res.status===200){
             if(res.data.status===200){
                 window.alert("user deleted")

             }
             else if(res.data.status===401){
                window.location.href = `${'<%- host %>'}`;
             }
             else{
                 window.alert("Something Went Wrong");
                 window.location.href = `${'<%- host %>'}`;

             }
         }
         getUsers()
     }
     
    </script>
</body>

</html>