<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>User Auth</title>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
        .login-form {
            width: 340px;
            margin: 50px auto;
        }

        .login-form form {
            margin-bottom: 15px;
            background: #f7f7f7;
            box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
            padding: 30px;
        }

        .login-form h2 {
            margin: 0 0 15px;
        }

        .form-control,
        .btn {
            min-height: 38px;
            border-radius: 2px;
        }

        .btn {
            font-size: 15px;
            font-weight: bold;
        }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="/">UserAuth</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">
                        <%- username%><span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <form method="post" action="/logout" class="col">
                        <input type="submit" class="btn btn-sm btn-warning" value="Logout">
                    </form>
                </li>
            </ul>
        </div>
    </nav>
    <div class="login-form">
        <!-- <form> -->
        <h2 class="text-center">Update User</h2>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Username" name="username" value="<%- usernameu %>"
                required="required">
        </div>
        <div class="form-group">
            <input type="email" class="form-control" placeholder="Email" name="email" required value="<%- email %>"
                required="required">
        </div>

        <div class="mb-3" id="upload">
            <% if(resume){ %>
                <label for="formFile" class="form-label" name="filename"><%- resume %></label>
                <button class="btn btn-sm btn-danger" onclick="remove('<%- id %>')">Remove</button>
                <% }else{ %>
                    <label for="formFile" class="form-label" accept=".txt,.pdf">Upload Resume</label>
                    <input class="form-control" type="file" name="resume">
                    <button class="btn btn-sm btn-info" onclick="upload('<%- id %>')">upload</button>
                <% } %>
        </div>
        <div class="form-group">
            <p class="text-danger">
                <%- message %>
            </p>
        </div>
        <% if(!status){ %>
            <label class="pull-left checkbox-inline"><input type="checkbox" name="status"> status</label>
            <% }else { %>
                <label class="pull-left checkbox-inline"><input type="checkbox" name="status" checked>
                    status</label>
                <% } %>
                    <div class="form-group">
                        <button type="button" class="btn btn-primary btn-block"
                            onclick="updateUser('<%- id %>')">Proceed</button>
                    </div>
                    <!-- </form> -->
    </div>
    <script>
        const updateUser = async (id) => {
            try {
                if(!document.getElementsByName('resume') || !document.getElementsByName('filename')[0]) return window.alert('Upload File first')
                if (window.confirm('Are you sure?') === false) return
                const res = await axios.put(`${'<%- host %>'}/api/users/${id}`,
                    {

                        username: document.getElementsByName('username')[0].value,
                        email: document.getElementsByName('email')[0].value,
                        status: document.getElementsByName('status')[0].checked,
                        resume: document.getElementsByName('filename')[0].innerHTML
                    });
                if (res.status === 200) {
                    if (res.data.status === 401) {

                        window.location.href = `${'<%- host %>'}`;
                    }
                    else if (res.data.status === 200) {

                        window.alert('User updated')
                        window.location.href = `${'<%- host %>'}`;
                    }
                    else if (res.data.status === 400) {

                        window.alert(res.data.message)
                        window.location.href = `${'<%- host %>'}/updateuser/${id}`;
                    }
                    else {
                        window.alert('User Already Exist')
                        window.location.href = `${'<%- host %>'}/updateuser/${id}`;
                    }
                }
            }
            catch (err) {
                window.alert('User Already Exist')
                window.location.href = `${'<%- host %>'}/updateuser/${id}`;
            }
        }

        const upload = async (id) => {
            const formData = new FormData();
            const file = document.getElementsByName('resume')[0].files[0]
            formData.append("files", file)
            const res = await axios.post(`${'<%- host %>'}/upload/${id}`, formData)
            if (res.data.status === 200) {
                document.getElementById('upload').innerHTML = `
                <label for="formFile" class="form-label" name="filename">${id}_${file.name}</label>
                <button class="btn btn-sm btn-danger" onclick="remove('<%- id %>')">Remove</button>
                `
            }
            else if(res.data.status === 401){
                window.location.href = `${'<%- host %>'}`;
            }
        }
        const remove = async (id) => {
            document.getElementById('upload').innerHTML = `
                <label for="formFile" class="form-label">Upload Resume</label>
                <input class="form-control" type="file" name="resume" accept=".txt,.pdf">
                <button class="btn btn-sm btn-info" onclick="upload('<%- id %>')">upload</button>
            `
        }

    </script>


</body>

</html>